
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

@model List<Licence360.DAL.DB.CustomerLicence>
<div class="card col-12">
    <div class="row">
        <div class="col-12 m-3">
            <h4>
                @if (Model.Count() != 0)
                {
                    <label class="nav-icon fas fa fa-user"> @Model[0].Product.ProductName + @Model[0].Product.LicenceTime.LicenceTimeName Ay</label>
                }
                else
                {
                    <i class="nav-icon fas fa fa-user"></i>
                }
                <a class="btn btn-warning float-right mr-4" href="javascript:history.back()"><i class="fas fa-arrow-left"></i> GERİ</a>
            </h4>
            <div class="ml-1">Programını Kullanan Müşteriler <i class="fas fa-arrow-down"></i></div>
        </div>
    </div>
    <div class="mr-3 ml-3">
        <table id="myTable" class="table table-striped text-center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Firma Adı</th>
                    <th>Başlangıç Tarihi</th>
                    <th>Bitiş Tarihi</th>
                    <th>URL</th>
                    <th>Durumu</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.Customer.CompanyName</td>
                        <td>@item.StartDate.Value.ToShortDateString()</td>
                        <td>@item.EndDate.Value.ToShortDateString()</td>
                        <td>@item.CustomerURL</td>
                        <td>
                            @if (item.IsActive == true)
                            {
                                <a href="#" onclick="UpdateIsActive(@item.ID)"><span class="badge badge-success">Aktif</span></a>
                            }
                            else
                            {
                                <a href="#" onclick="UpdateIsActive(@item.ID)"><span class="badge badge-danger">Pasif</span></a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

@section JS{
    <script>
        function UpdateIsActive(ID) {
            $.get("/Licence/UpdateIsActive/" + ID, function (result) {
                if (result) {
                    toastr.success("Durum Aktif olarak değiştirildi", "İşlem Başarılı");
                    setInterval(function () {
                        window.location.reload()
                    }, 2000)
                }
                else {
                    toastr.error("Durum Pasif olarak değiştirildi", "İşlem Başarılı");
                    setInterval(function () {
                        window.location.reload()
                    }, 2000)
                }
            })
        }
    </script>
}

